# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Usuarios\Jesus\Documentos\.eclipse\sist-procesos\.idea/dataSources/
/dataSources.local.xml
